<h1>Create New Post</h1>
<form class="postsClass">
    <p class="p-3">
    <h2>Title</h2>
    <input class="p-3 w-75" id="title"></input>
    <h2>Content</h2>
    <input type="text" class="w-75 p-3" id="postContent"></input>
    </p>
    <button id="submit">SUBMIT</button>
</form>

<script src="./js/logout.js"></script>
<script src="./js/script.js"></script>