<h1>BLOG POSTS</h1>

<div class="postsClass">
    {{#each posts}} 
    <div id="bp-border">
        <div id="blog-post" class="navbar navbar-expand-lg p-1">
            <h2 class="p-3">{{title}}</h2>
            <ul class="navbar-nav ms-auto p-3">
                <li>Created: {{createdAt}} |</li>
                <li>| Author: {{author}}</li>
            </ul>
        </div>
            <p class="p-3">
                {{postText}}
            </p>
    </div>
    {{/each}}
</div>

<script src="./js/logout.js"></script>